*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --header-bg: black;
    --score-bg: black;
    --symbol-bg: white;
    --footer-bg: var(--symbol-bg);

    --header-color: white;
    --score-color: white;
    --symbol-color: black;
    --footer-color: black;

}

html{
    min-height: 100vh;
    font-family: "Segoe UI", sans-serif;
}

body{
    min-height: inherit;
    display: flex;
    flex-direction: column;
}

/* header */

header{
    font-size: 1.3em;
    font-weight: 800;
    text-transform: capitalize;
    text-align: center;
    background-color: var(--header-bg);
    color: var(--header-color);
    padding: 1em 0;
    
}

header span.letter{
    animation: pulse 5s infinite ease-in-out;
}

header span.dash{
    animation: pulse 5s infinite ease-in-out;
}

@keyframes pulse{
    0%{
        color: white;
    }
    50%{
        color: var(--header-bg) ;
    }
}

/* main */

main{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#score-section{
    flex: 1;
    background-color: var(--score-bg);
    color: var(--score-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p{
    display: block;
}

#score{
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 1000;
    letter-spacing: 2px;

}

#status{
    display: none;
    font-size: calc(.75em + 1vw);
    text-transform: uppercase;
    font-weight: 1000;
    letter-spacing: 2px;
    color: yellow;
}

#play-again{
    font-size: calc(.75em + 1vw);
    text-transform: uppercase;
    font-weight: 1000;
    letter-spacing: 2px;
    margin-top: 1em;
    padding: 10px;
    border-radius: 12px;
    display: none;
}

#options{
    flex: 1;
    background-color: var(--symbol-bg);
    color: var(--symbol-color);
    display: flex;
    justify-content: space-evenly;
}

.option{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.option-title{
    font-size: var(1em + 1vw);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}

.option-symbol-wrapper{
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.symbol{
    width: 80%;
    height: 80%;
    border: none;
    background: no-repeat cover;
    border-radius: 50%;
    
}

.rock{
    background: url("https://media.istockphoto.com/id/1136974047/vector/dark-stone-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=4TZvGt4ieOmO4lB6rJ75vQd2u3oUFeAB8WgrxiHnOU4=");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.paper{
    background: url("https://t3.ftcdn.net/jpg/00/92/29/40/360_F_92294036_nzxDi7QtTw4N7kZ4LNDlzUceiwgevFoY.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.scissors{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4NLlS5VRb2Dnyv5DSOjquufbnxt6JvB6FEBrAW2UhpTdPBTob7sjMX2R4itAb9RoIxs4&usqp=CAU");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.symbol:hover{
    box-shadow: 0px 0px 5px gray;
}

.symbol:active{
    transform: scale(1.2);
}

footer{
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 1em;
}